<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title></title>
  </head>
  <body>
    <h1 class="text-center text-primary">To-do List<i class="bi bi-card-list listlogo mt-2 align-items-center"></i></h1>

    <div class="row">
        <div class="col-6">
            <div class="formgroup">
                <label for="newTask">Add your Tasks Here</label>
                <input type="text" class="form-control" id="newTask" [(ngModel)] = 'todoInput' >
            </div>
        </div>

      <div class="col-3 mt-4">
        <button class="btn btn-success " (click)="addTask()" [disabled] = !todoInput.length>Add<i class="bi bi-file-earmark-plus-fill"></i></button>
      </div>

      
      <div class="col-3 mt-4">
        <button class="btn btn-danger" (click)="resetForm()" [disabled] = !todoInput.length>Reset<i class="bi bi-arrow-clockwise"></i></button>
      </div>

    </div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
